@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Riot&display=swap");
body {
  background-color: whitesmoke;
}
#imgUploderBox {
  width: 50%;
  height: 40vh;
  border: dashed 4px rgb(211, 211, 211);
  margin: 40px auto;
}
#imgUploderBox:hover {
  border: dashed 4px darkgray;
}

#imgBox {
  border: dashed 4px lightgrey;
  width: 50%;
  height: 400px;
  max-width: 100%;
  margin-top: 40px;
}
#imgBox:hover {
  border: dashed 4px lightgreen;
}
.container:hover + .container-md {
  background-color: yellowgreen;
  color: black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 80px;
  height: 80px;
}
.container-md {
  width: 40%;
  max-width: 100%;
  height: 80px;
  background-color: rgb(223, 154, 7);
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  font-size: larger;
  font-size-adjust: x-large;
}
.container-md:hover {
  background-color: yellowgreen;
  color: black;
}
