@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Protest+Riot&display=swap");
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: whitesmoke;

  font-size: 16px;
}
#imgUploderBox {
  width: 50%;
  height: 40vh;
  border: dashed 4px rgb(211, 211, 211);
  margin: 40px auto;
}
#imgUploderBox:hover {
  border: dashed 4px darkgray;
}

#imgBox {
  border: dashed 4px lightgrey;
  width: 50%;
  height: 400px;
  max-width: 100%;
  margin-top: 40px;
}
#imgBox:hover {
  border: dashed 4px lightgreen;
}
.container:hover + .container-md {
  background-color: yellowgreen;
  color: black;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 80px;
  height: 80px;
} */
.container-md {
  width: 40%;
  max-width: 100%;
  height: 80px;
  background-color: rgb(223, 154, 7);
  margin-top: 30px;
  border-radius: 15px;
  text-align: center;
  padding-top: 20px;
  font-size: larger;
  font-size-adjust: x-large;
  cursor: pointer;
}
.container-md:hover {
  background-color: yellowgreen;
  color: black;
}
#BodyBox {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-between;
}
#box1 {
  padding-top: 1%;
  overflow-x: hidden;
}
#box2 {
}
#imgViewer {
  width: 90%;
  height: 80vh;
  border-radius: 15px;
  border: solid 2px gray;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: url(Image/360_F_567460720_meuVUMqysMiMKuuH0A5Du9FvYhoDU3Sp.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.container-xl {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img1 {
  border-radius: 15px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}
h4 {
  font-size: 2vw;
}
