<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button
          class="nav-link active"
          id="nav-home-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-home"
          type="button"
          role="tab"
          aria-controls="nav-home"
          aria-selected="true"
        >
          Home
        </button>
        <button
          class="nav-link"
          id="nav-profile-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-profile"
          type="button"
          role="tab"
          aria-controls="nav-profile"
          aria-selected="false"
        >
          Profile
        </button>
        <button
          class="nav-link"
          id="nav-contact-tab"
          data-bs-toggle="tab"
          data-bs-target="#nav-contact"
          type="button"
          role="tab"
          aria-controls="nav-contact"
          aria-selected="false"
        >
          Contact
        </button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-home"
        role="tabpanel"
        aria-labelledby="nav-home-tab"
      >
        <div
          class="container-fluid"
          style="
            background-color: rgb(44, 50, 72, 0.5);
            height: 4vw;
            color: rgba(175, 245, 13, 0.9);
            text-align: center;
            font-size: 3vw;
            font-weight: 700;
            padding-top: auto;
            position: sticky;
            top: 0%;
          "
        >
          ThumbnailRanker
        </div>
        <div id="BodyBox">
          <div
            id="box1"
            style="width: 20%; height: 100%; background-color: white"
          >
            <form id="myform">
              <label
                style="font-size: 1vw; font-size-adjust: 5px"
                for="urlOFImg"
              >
                Enter your Thumbnail url:-
                <input
                  type="url"
                  name="urlOFImg"
                  id="urlOFImg"
                  style="width: 80%; max-width: 400px"
                />
              </label>

              <label
                style="font-size: 1vw; font-size-adjust: 5px"
                for="urlOFImg"
              >
                Enter your Title:-
                <input
                  type="text"
                  name="title"
                  id="urlOFImg"
                  style="width: 80%; max-width: 400px"
                />
              </label>
              <input
                type="submit"
                style="
                  width: 8vw;
                  font-size: 1vw;
                  margin: 1px vw;

                  box-sizing: content-box;
                  background-color: skyblue;
                  border: none;
                  border-radius: 15px;
                  color: black;
                "
                value="Upload"
              />
            </form>
            {% if submitted %}
            <p id="title" style="display: none">{{title}}</p>
            <p id="urlofimg" style="display: none">{{thumbnail_url}}</p>

            {% endif %}
          </div>
          <div
            id="box2"
            style="width: 59.8%; height: 100%; background-color: white"
          >
            <div id="imgViewer">
              <div onclick="test()" class="card">
                <img
                  id="img1"
                  src="https://i.ytimg.com/vi/nPHFjkCYJm8/hq720.jpg"
                  alt="Img 2"
                  style="width: 100%"
                />
                <div class="container">
                  <h4><b>Jane Doe</b></h4>
                </div>
              </div>
              <div class="card">
                <img
                  id="img2"
                  src="https://i.ytimg.com/vi/nPHFjkCYJm8/hq720.jpg"
                  alt="Img 2"
                  style="width: 100%"
                />
                <div class="container">
                  <h4><b>Jane Doe</b></h4>
                </div>
              </div>
            </div>
          </div>
          <div
            id="box3"
            style="width: 20%; height: 100%; background-color: white"
          >
            <div id="rankDisplayer"></div>
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="nav-profile"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        ...
      </div>
      <div
        class="tab-pane fade"
        id="nav-contact"
        role="tabpanel"
        aria-labelledby="nav-contact-tab"
      >
        ...
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="../static/script.js"></script>
  </body>
</html>
